<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>ISBN:</strong>   <%= @book.isbn %></p>
<p><strong>Added:</strong>  <%= @book.created_at.strftime("%B %d, %Y") %></p>

<a href="/books">Back to all books</a>